/*
envelope styles
*/

.envelope {
	width: 650px;
	height: 300px;
	border: 1px solid #000000;
	position: relative;
}

.from-person {
	position: absolute;
	top: 0px;
	left: 0px;
}

.to-person {
	position: absolute;
	top: 100px;
	left: 250px;
}

.stamp {
	position: absolute;
	width: 50px;
	height: 60px;
	border: 1px solid #ccc;
	top: 10px;
	left: 585px;
	
}

.address-label {
	padding: 10px;
}

/*
credit card styles
*/

.credit-card {
	position: relative;
	width: 400px;
	height: 250px;
	border-radius: 25px;
	margin: 10px;
	padding: 15px;
	background-color: #1759c4;
	color: white;
	font-family: 'courier';
	font-weight: 100;
}

.bank-name {
	position: absolute; 
	top: 30px;
	left: 200px;
	font-size: 2.5em;
	font-family: 'Helvetica';
	font-weight: initial;
}

.card-number {
	position: absolute;
	top: 160px;
	left: 30px;
	font-size: 2em;
}

.card-number-prefix {
	position: absolute;
	top: 40px;
	font-size: .5em;
	font-family: 'Helvetica';
}

.expiration-date {
	position: absolute;
	top: 210px;
	left: 200px;
	font-size: 1.5em;

}

.expiration-date-prefix {
	position: absolute;
	font-size: 8px;
	font-family: 'Helvetica';
	left: -25px;
	top: 5px;
}

.cardholder-name {
	position: absolute;
	left: 30px;
	top: 240px;
	font-size: 1.5em;
}

/*
poster styles
*/



